.bridge-page {
  width: 90%;
  max-width: 886px;
  margin: 0 auto;

  .link {
    position: relative;
    margin-bottom: 65px;
    & span {
      & .fa-copy {
        font-size: 20px;
        margin-right: 13px;
        @include transition(color 0.2s easer-in-out);

        &:active {
          color: $oc-gray-6;
        }
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  .clipboard div {
    position: absolute;
    top: 0;
    left: -15px;
    width: 13px;
  }

  .clipboard .a {
    fill: #686961;
  }

  .breadcrumb {
    padding-bottom: 40px;
    a {
      color: $grey-main;
      font-weight: bold;
    }
  }

  .link {
    margin-top: 10px;
    //margin-left: 30px;
  }

  .title-section {
    input {
      font-size: 30px;
      margin-bottom: 50px;
      // font-style: italic;
      width: 100%;
      color: $grey-main;
    }

    img {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .fonts-section .bridge-section .empty-state {
    margin-top: 36px;
    margin-left: 108px;
  }

  .bridge-section {
    margin-bottom: 65px;

    .content {
      position: relative;
      .delete {
        display: none;
        position: absolute;
        top: 10px;
        right: 50px;
        padding: 3px;
        border-radius: 999px;
        transition: 150ms ease-in-out;

        svg {
          width: 24px;
          display: block;
        }

        &:hover {
          cursor: pointer;
          background-color: $drop-shadow-color;
        }
      }

      &:hover {
        .delete {
          display: inline-block;
        }
      }
    }

    #icon {
      display: none;
    }

    .card {
      position: relative;

      .do-not-use {
        font-size: 47px;
        position: absolute;
        top: -17px;
        left: -15px;
        color: red;
      }

      a {
        width: 100%;
        display: inline-block;
        height: 100%;
      }

      &.font {
        width: 100%;
      }

      .move-handler, .delete-handler {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 2px;
      }

      .move-handler {
        //display: none;
        @include transition(opacity 0.2s ease-in-out);
        position: absolute;
        opacity: 0;
        top: 10px;
        left: 10px;
        width: 22px;
        color: black;
        padding: 5px 2px 5px 2px;

        &:hover {
          cursor: move;
        }
      }

      .delete-handler {
        //display: none;
        @include transition(opacity 0.2s ease-in-out);

        opacity: 0;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 22px;
        color: black;
        padding: 5px 2px 5px 2px;

        @include transition(all 0.2s ease-in);

        &:hover {
          cursor: pointer;
          color: $brand-danger;
          //border: 1px solid $brand-danger;
        }
      }

      &:hover {
        .move-handler, .delete-handler {
          //display: block;
          opacity: 1;
        }

      }

      img {
        max-width: 85%;
        max-height: 85%;

        width: 85%;
        position: absolute;
        // max-width: 90%;
        // max-height: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .title {
      display: table;
      margin: 0 auto;
      position: relative;

      // padding: 0 170px;
      //padding: 0px;
      h2 {
        // width: 85px !important;

      }

      .tooltip {
        display: none;
        left: 0px;
        top: -17px;
        min-width: 140px;
        padding-left: 130px;
        vertical-align: middle;
        position: absolute;
        z-index: 1;

        ul {
          border-radius: 3px;
          padding: 10px;
          background-color: white;

          li {
            cursor: pointer;
          }

          li:nth-child(2) {
            margin-top: 8px;
          }
        }

        &:hover {
          display: block;
        }
      }

      img:hover {
        cursor: pointer;
        & ~ .tooltip {
          display: block;
        }
      }

      h2 {
        font-size: 26px;
        display: inline-block;
        float: left;
        text-transform: capitalize;
      }

      img {
        margin-top: 4px;
        margin-left: 20px;
        float: left;
      }
    }

    .content {
      margin-top: 20px;
      clear: both;

      .text {
        width: 23%;
        float: left;
        height: 150px;
      }
      input {
        font-size: 16px;
        color: $grey-lighter;
        margin-top: 10px;
      }
      textarea {
        font-size: 12px;
        resize: none;
        color: $grey-with-opacity;
        height: calc(100% - 37px);
        margin-top: 10px;
        line-height: 1.35em;
      }

      input,
      textarea {
        float: left;
        width: 95%;
      }
    }

    .flex {
      width: 77%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: left;
      float: right;
      border: 1px solid transparent;
      box-sizing: border-box;
      min-height: 172px;

      &.active {
        background-color: rgba(104, 105, 97, 0.1);
        border-radius: 3px;
        border: 1px solid rgba(104, 105, 97, 0.2);
      }

      .card {
        transition: .15s ease-in-out;

        &:hover {
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
          transform: scale(1.02);
        }
      }

      .item {
        margin: 10px;
        width: 150px;
        height: 150px;
        border-radius: 3px;
        background-color: $brand-disable-light;

        &.font {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .title {
    padding: 0;
  }

  .text {
    width: 100% !important;
    float: none !important;
    height: 100px !important;
    margin-bottom: 10px;
  }
}
