.delete-bridge{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  .overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(73, 73, 73, 0.95);
  }

  .message-box{
    background-color: $background-color;
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}