.new-bridge,
.add-color,
.add-font{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;

  .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(73,73,73, .95);
  }

  .close{
    display: inline-block;
    margin: 30px;
    position: absolute;
    z-index: 9999;

    &:hover{
      cursor: pointer;
    }
  }

  .input-wrapper:first-child{
    margin-bottom: 30px;
  }

  .button{
    width: 100%;
  }
}