.color-card {
  position: relative;

  & #card-color-info {
    position: absolute;
    bottom: 10px;
    left: 10px;

    .rgb {
      @include transition(opacity 0.2s ease-in);

      opacity: 0;
      margin-bottom: 10px;
    }

    .hex {
    }
  }

  &:hover {
    &  #card-color-info {
      & .rgb {
        opacity: 1;
      }
    }
  }
}

.rgb-span {
  margin-right: 10px;
  & #rgb-text {
    font-size: 12px;
  }
  & #rgb-number {
    font-weight: 400;
  }
}