.empty-state{
  width: 70%;
  margin-top: 10px;

  &.solo{
    width: 54%;
    margin-left: 23% !important;
  }
  img{
    margin: 0 auto;
    display: table;
    opacity: .3;
  }
  p{
    width: 220px;
    text-align: center;
    margin: 20px auto 0;
    color: $grey-with-more-opacity;
  }
}