.bm-burger-button {
  position: absolute;
  width: 24px;
  top: 33px;
  left: 40px;
  z-index: 9999;

  //background-color: red;

  &:hover {
    cursor: pointer;
  }
}

.bm-cross-button {
  margin-top: 22px;
  margin-right: 10px;
  color: white;
  font-size: 25px !important;
}

.bm-item-list {
  background-color: #212429;

  & .sidebar {
    padding-top: 30px;
  }

  & .sidebar-padding {
    padding-left: 30px;
    padding-right: 10px;
  }
}

#sidebar-hr {
  margin-top: 30px;
  padding: 0 20px 0 20px;

  & hr {
    border: 1px solid #1d2124;
    //margin: 0;
  }
}

.sidebar-client {
  padding: 0 30px 0 30px;
}

.sidebar-margin-top {
  margin-top: 30px;
}

.sidebar-section {
  & .title {
    span {
      color: $white;
    }
  }
}

.new-size {
  margin-top: 30px;
  padding-bottom: 30px;
}

.add-size {
  background-color: $white;
  transition: 300ms ease-in-out;
  font-size: 11px;
  padding: 12px;
  font-weight: bold;
  margin-top: 15px;
  &:hover {
    border: 1px solid $white;
    background-color: transparent;
    color: $white;
  }
}

.download-icon {
  margin-left: 10px;
  color: $white;

  &:active {
    opacity: 0.75;
  }
}

.sidebar-section-img-info {
  margin-top: 10px;
  display: flex;
  align-items: center;

  #download-icon {
    margin-top: 14px
  }

  & .sidebar-image-info {
    margin-right: 10px;
  }

  & .lock {
    margin-top: 10px;
    margin-right: 10px;
    color: $text-gray-dark
  }
}

.sidebar-image-info {
  & .info {
    margin-top: 5px;
    padding: 7px;
    font-size: 14px;
  }

  & .info-darker {
    background-color: $text-gray-8;
    color: $text-gray-light;
  }

  & .info-lighter {
    background-color: $text-gray-8;
    color: $text-gray-light;
  }
}

.sidebar-little-title {
  font-size: 10px;
  color: $text-gray-dark;
  font-weight: bold;

}

.sidebar-section-url {
  margin-top: 10px;

  & .url {
    display: flex;
    align-items: center;

    & #copy-to-clip {
      //margin-right: 10px;
    }

    #icon {
      font-size: 20px;
      margin-left: 10px;
    }

    & input {
      margin-top: 5px;
      padding: 3px;
      font-size: 14px;

      width: 90%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .url-lighter {
    #icon {
      //@include transition(color 1 ease-in-out);
      color: $text-gray-light;
      opacity: 1;
      cursor: pointer;
      &:active {
        opacity: 0.75;
      }

    }

    & input {
      background-color: $text-gray-dark;
      color: $text-gray-light;
    }
  }

  .url-darker {
    #icon {
      color: $text-gray-light;
      cursor: pointer;
    }

    & input {
      background-color: $text-gray-8;
      color: $text-gray-light;
    }
  }
}

.header {
  border-left: 2px solid white;

  & span {
    font-size: 20px;
    color: $white;
    padding-left: 10px;
    //text-align: center;
    font-weight: 500;
  }
}

.admin-option {
  margin-bottom: 30px;
}

.settings {
  margin-top: 30px;
  overflow-y: visible;

  .title {
    span {
      font-size: 18px;
      color: $white;
      font-weight: 500;
    }
  }

  .check-setting {
    margin-top: 10px;

    .input-wrapper {
      color: #fff;
      display: flex;
      align-items: center;

      input[type="checkbox"] {
        display: none !important;
      }

      label {
        font-size: 12px;
        color: $white;

        &.txt-label {
          padding-top: 2px;
        }
      }
    }
  }

  .asset-bg-color {
    margin-top: 10px;
    display: flex;
    align-items: center;

    span {
      font-size: 12px;
      color: $white;
      line-height: 18px;
    }

    .color-settings {
      margin-left: 50px;
      display: flex;
      justify-content: space-between;

      .default-colors {
        display: flex;

        .default-color {
          margin-right: 5px;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          cursor: pointer;

          &.white {
            background: $white;
            border: 1px solid $white;
          }

          &.black {
            background: #000000;
            border: 1px solid $white;
          }

          &:last-child {
            margin-right: 20px;
          }
        }
      }

      .color-picker {
        display: flex;
        position: relative;

        .input-picker {
          background: #555;
          padding: 4px;
          height: 11px;
          font-size: 14px;
          border-top-left-radius: 1px;
          border-bottom-left-radius: 1px;
          width: 62px;
        }

        &:before {
          content: "#";
          padding: 3px 3px;
          font-size: 17px;
        }

        .popover {
          position: absolute;
          z-index: 2;
          margin-top: 24px;
          margin-left: 17px;
        }

        .preview-color {
          width: 21px;
          height: 19px;
          background: #fff;
          border-top-right-radius: 1px;
          border-bottom-right-radius: 1px;
        }

        .photoshop-picker {
          input {
            background: #fff !important;
            color: #000;
          }

          span {
            color: #000;
          }
        }
      }

    }
  }

  .buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;

    .settings-button {
      padding: 10px;
      min-width: 30px;
      font-size: 14px;
    }

    .button-left {
      margin-left: 20px;
    }
  }
}

/* Additional Style */

/* Sidebar */

.btn-outline-white {
  border: 1px solid #fff;
  color: #fff;
  background: #1c1f25;
  cursor: pointer;
}

.btn-white {
  border: 1px solid #fff;
  color: #1c1f25;
  background: #fff;
  cursor: pointer;
}

#download-section {

  padding: 30px;

  .tab-section {

    margin-bottom: 30px;

    .format-btn {

      padding: 8px 16px;
      cursor: pointer;
      font-size: 13px;
    }

    .btn-outline-white {
      border: 2px solid #fff;
      color: #fff;

      &.active {
        color: #1c1f25;
        background: #fff;
      }

      &.border-x-0 {
        border-left: 0;
        border-right: 0;
      }
    }

  }

  input {
    margin-left: 0 !important;
  }

  #copy-to-clip {
    margin-top: 5px !important;
  }
}

.download-btn {

  margin-top: 30px;

  .btn-white {
    padding: 8px 16px;
    font-size: 13px;
  }

  .disabled {
    cursor: not-allowed;
    color: #fff;
    background: #888;
    border-color: #888;
  }
}
