.bm-burger-button {
  position: absolute;
  width: 24px;
  top: 33px;
  left: 40px;
  z-index: 9999;

  //background-color: red;

  &:hover{
    cursor: pointer;
  }
}

.bm-cross-button {
  margin-top: 22px;
  margin-right: 10px;
}

.bm-item-list {
  background-color: #212429;

  & .sidebar {
    height: 100vh;
    padding: 30px 10px 30px 30px;
  }
}

.header{
  border-left: 2px solid white;

  & span{
    font-size: 20px;
    color: $white;
    padding-left: 10px;
    //text-align: center;
    font-weight: 500;
  }
}

.settings {
  margin-top: 30px;

  & .title {
    span {
      font-size: 18px;
      color: $white;
      font-weight: 500;
    }
  }

  & .featured {
    margin-top: 10px;
    display: flex;
    align-items: center;
    span {
      font-size: 12px;
      color: $white;
    }
    #checkbox {
      margin-left: 30px;
    }
  }

  .buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;

    .settings-button {
      padding: 10px;
      min-width: 30px;
      font-size: 14px;
    }

    .button-left {
      margin-left: 20px;
    }
  }
}

//.sidebar{
//  box-sizing: border-box;
//
//  .primar{
//    text-transform: capitalize;
//  }
//
//  .font-sidebar{
//    position: relative;
//
//    .content section:nth-child(2){
//      p:nth-child(2){
//        margin-top: 10px;
//      }
//    }
//  }
//
//  .prefix{
//    color: #919191;
//  }
//
//  .settings{
//    .head{
//      svg{
//        height: 20px;
//        fill: $white;
//      }
//    }
//  }
//
//  .primary-view,
//  .settings{
//    width: 100%;
//    height: 100vh;
//    float: left;
//    position: relative;
//  }
//
//  .primary-view{
//    transition: 300ms ease-in-out;
//  }
//
//
//  p{
//    font-size: 18px;
//    color: $white;
//  }
//
//  .clipboard_and_text{
//    position: relative;
//
//    div:first-child{
//      display: inline-block;
//    }
//
//    p{
//      top: 0;
//      left: 0;
//      position: absolute;
//      height: 19px;
//    }
//
//    svg {
//      height: 17px;
//      top: 0;
//      left: 0;
//      position: absolute;
//
//      &:hover{
//        cursor: pointer;
//      }
//
//      .a{
//        fill: #f9f9f9;
//      }
//    }
//  }
//
//  section{
//    margin-bottom: 40px;
//    h4{
//      margin-left: 23px;
//      font-size: 18px;
//      color: $white;
//      font-weight: bold;
//      margin-bottom: 20px;
//    }
//
//    p{
//      margin-left: 23px;
//      max-width: 230px;
//      overflow:hidden;
//      text-overflow: ellipsis;
//    }
//  }
//
//}
