$background-color: #FFF;
$grey-main: #585A51;
$grey-lighter: #686961;
$grey-logo: #494949;
$grey-with-opacity: rgba(104,105,97, .6);
$grey-with-more-opacity: rgba(104,105,97, .5);
$drop-shadow-color: rgba(104,105,97, .1);
$white: #fff;
$blue: #4AD9D9;
$red: #D96B4A;

$text-gray-dark: #4D5154;
$text-gray-light: #E7E8E8